
/*
==================================
Primary Header
=================================
*/

.header {
  /*height: 300px;*/
  background: #fff;
  border-bottom: 6px solid #6E9DC9;
  /*Blue to Dark Gray, down
  background: -webkit-linear-gradient(#6E9DC9, #2E465E);
  background: -moz-linear-gradient(#6E9DC9, #2E465E);
  background: linear-gradient(#6E9DC9, #2E465E);*/

/*White to Blue, to right
  background: -webkit-linear-gradient(to right, #fff, #6E9DC9);
  background: -moz-linear-gradient(to right, #fff, #6E9DC9);
  background: linear-gradient(to right, #fff, #6E9DC9);*/
}

.headimg {
  height:120px;
  position: relative;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(0%);
}

.headtitle {
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(10%);
    color: #000000;
    font-size: 80px;
    letter-spacing: .07em;
}

#beta {
  color: #F33535;
}


/*
==================================
Home Tab
=================================
*/
.homestrip {
  height: 200px;
}

#risk {
   padding-bottom: 10px;
   padding-top: 10px;
   text-align: center;
   background: #ecf2f8;
   border: 3px solid #6E9DC9;
   border-radius: 10px;
   font-size: 15px;
}

#info {
   padding-bottom: 10px;
   padding-top: 10px;
   text-align: center;
   background:  #f3f1f3;
   border: 3px solid #dbd6db;
   font-size: 12px;
}


/*
==================================
Slider
=================================

.js-irs-0 .irs-bar {
border-top-color: #6E9DC9;
border-bottom-color: #6E9DC9;
background: #6E9DC9;
}

.js-irs-0 .irs-bar-edge {
border-color: #6E9DC9;
}

.js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
background: #EEE;
}

*/
.irs-bar {
  width: 100%;  background: #6E9DC9; border-top: 1px solid #6E9DC9; border-bottom: 1px solid #6E9DC9;
  
}

/*
label.control-label, .selectize-control.single { 
         display: table-cell; 
         text-align: center; 
         vertical-align: middle; 
      } 
      label.control-label {
        padding-right: 10px;
      }
      .form-group { 
        display: table-row;
      }
      .selectize-control.single div.item {
        padding-right: 15px;
      }


.form-group { 
                 display: table-row;
                 }

label.control-label, .selectize-control.single { 
                 display: table-cell; 
                 text-align: center; 
                 vertical-align: middle; 
                 } 


label.control-label {
                 padding-right: 10px;
                 }


.selectize-control.single div.item {
                 padding-right: 15px;
                 }

.irs-line{width: 100%;}


.irs-bar-edge {
  background: black; border: 1px solid black; height: 25px; border-radius: 0px; width: 20px;
  
}
.irs-line {border: 1px solid black; height: 25px; border-radius: 0px;}
.irs-grid-pol {display: none;}
.irs-max {font-family: 'arial'; color: black;}
.irs-min {font-family: 'arial'; color: black;}
.irs-single {color:black; background:#6666ff;}
.irs-slider {width: 30px; height: 30px; top: 22px;}
*/

/*
==================================
General Styles
=================================
*/

p {
  letter-spacing: .05em;
}


.imggen {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display:block;
  margin:auto;
}


/*.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: #6E9DC9;
    color: white;
    
    
}

.menu > li.active{
    background-color: #6E9DC9;
    color: white;
}*/

a{
  color: #6E9DC9;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: #1A232E;
    color: #6E9DC9;
    
    
}
